<footer class="footer_container">
	<div class="footer_block ">
		<div class="footer_block_content ">
			<h2 class="footer_title">OLDCAR</h2>
			<p class="footer-present">Le meilleur magasin de pièces détachées pour vos accessoires automobiles. Quelles sont les pièces dont vous avez besoin, vous pouvez les obtenir ici.</p>
		</div>
		<div class="footer_block_content ">
			<h2 class="footer_title">Information</h2>
			<ul class="footer_list">
				<li>Notre magazin</li>
				<li>Contact</li>
				<li>Services apres vente</li>
				<li>pourquoi nous ?</li>
			</ul>
		</div>
		<div class="footer_block_content ">
			<h2 class="footer_title">Liens rapide</h2>
			<ul class="footer_list ">
				<li>À propos</li>
				<li>blog</li>
				<li>panier</li>
				<li>magazin</li>
			</ul>
		</div>
		<div class="footer_block_content ">
			<h2 class="footer_title">Support</h2>
			<ul class="footer_list">
				<li>blog</li>
				<li>contact</li>
				<li>Assistance</li>
			
			</ul class="footer_list">
		</div>

	</div>
	<div class="footer_copy">
		<p>copyright &copy;
		</p>
	</div>
</footer>
